.container {
  width: 1200px;
  margin: auto 20px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.half-width {
    width: 599px;
    float: left;
}

.third-width {
    float: left;
    width: 400px;
}

.full-width {
    width: 1200px;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
}

h1, h2, h3, nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

.specials ul, nav {
  list-style: none;
}

/*****HEADER*****/
header {
  height: 110px;
}

header h1 span {
  color: #77a466;
}

header h1 {
  float: left;
  margin: 49px auto 42px 6px;
  display: inline-block;
}

header nav ul {
  float: right;
  margin: 60px 10px 42px auto;
}

header nav ul li {
  display: inline-block;
  vertical-align: middle;
}

header nav ul li a {
  color: #77a466;
  font-size: 14px;
  margin-left: 25px;
  text-decoration: none;
}

/*****TOP SECTION*****/
.main-image img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}

.welcome-section h2, .about-text h2 {
  color: #77a466;
  margin: 32px auto;
  font-size: 18px;
}

.welcome-section p, .about-text p {
  margin: 32px 40px 38px 5px;
  font-size: 16px;
  line-height: 25px;
}

/*****BOTTOM SECTION*****/
.specials, .reviews, .contact {
  float: left;
  width: 399px;
  border-top: 1px solid #dedbdc;
}

.reviews p, .contact p, .specials ul li, footer {
    font-size: 16px;
}

.bottom-section h3 {
  font-size: 12px;
  margin: 28px auto;
}

.specials ul {
  padding: 0 0 0 3px;
}

.specials ul li {
  color: #77a466;
  margin: 20px 0;
}

.reviews {
  border-left: 1px solid #dedbdc;
  border-right: 1px solid #dedbdc;
}

.reviews h3, .reviews p, .contact h3, .contact p {
  padding-left: 30px;
  padding-right: 40px;
}

.reviews p {
  line-height: 21px;
  padding-bottom: 26px;
}

.contact p {
  line-height: 24px;
}

/*****FOOTER*****/
footer {
  clear: both;
  text-align: center;
  border-top: 1px solid #dedbdc;
}

footer h3 {
  margin: 33px;
}

footer h3 span {
  color: #77a466;
  font-family: "Galada", cursive;
  text-transform: lowercase;
}

/*****ABOUT PAGE*****/
.farm-image img {
    width: 100%;
}

/*****MENU PAGE*****/
.menu-title {
    border-bottom: 1px solid #dedbdc;
    border-top: 3px solid #77a466;
    text-align: center;
    overflow: auto;
}

.menu-title img {
    width: 200px;
}

.menu-title h1 {
    padding-top: 15px;
}

.menu-container ul {
    list-style-type: circle;
    padding-left: 100px;
    line-height: 30px;
}

.menu-container h2 {
    text-align: center;
    color: #77a466;
}

.menu-page-specials ul {
    padding-left: 150px;
}

div .regular-fare {
    border-right: 1px solid #dedbdc;
}

#tomatos-right {
    padding-right: 150px;
    margin:0;
}

#tomatos-left {
    padding-left: 150px;
}

/*****CONTACT PAGE*****/
#mailbox {
    width: 300px;
    margin: 0 148px;
}

#contact-page-text {
    border-top: 3px solid #77a466;
}

.contact-page h1 {
    text-align: center;
    margin-top: 50px;
}

.contact-page h2 {
    margin: 50px 0;
    color: #77a466;
    line-height; 25px;
    font-size: 18px;
}

.contact-page p {
    line-height: 25px;
}
